*{margin:0px; padding: 0px;}

body{
  font-family: "Open Sans","OpenSans",sans-serif;
  line-height: 1.5;
}

.nav-bar {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: 40px;
  font-size: 0.9em;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
  position: relative;
}
.top-left{
  width: 70%;
  float: left;
  position: absolute;
  left: 10px;
}
.heart{
  margin-right: 10px;
}

.top-links{
  width: 30%;
  float: right;
  position: absolute;
  right: 10px;
}
.top-links li{
  float: left;
  margin: 0 20px;
  text-align: center;
}
.deco-none{
  text-decoration: none;
  list-style-type: none;
}
.clear-fix{
  clear: both;
}
.header{
  width: 100%;
  height: 400px;
  background-image: url(../images/city-scape.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size:cover;
  padding-top: 50px;
  position: relative;
  color: white;
}
.container{
  width: 1200px;
  margin: 0 auto;
  padding: 75px 0;
}
.site-search{
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0px;
  margin-top: 10px;
}
.search-logo{
  margin:0 20px;
}
.floating-l{
  float: left;
}
.floating-r{
  float: right;
}
/*.search-container{
  width: 80%;
}
.search-bar{
  width: 90%;
}

.search-bar button{
  width: 40px;
  height: 40px;
}*/
.header-search-container{
  width: 85%;
}
.site-search form{
  display:block;
  position: relative;
}
.search-bar input{
  background-color: transparent;
  color: inherit;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 0;
  padding: 5px;
  padding-left: 15px;
  font-size: 1em;
  display: block;
  width: 100%;
  outline: 0;
  height: 30px;
}

.user-access{
  width: 164px;
  margin-right: 5px;
}
.title{
  width: 100%;
  font-size: 2.5em;
  color: white;
}
.h2{
  font-size: 2em;
}
.text{
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 20px;
  color: white;
}
h1, h2, h3, h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn{
  font-weight: 400;
  border-radius: 20px;
  padding: 7px 26px 8px 26px;
  font-size: 18px;
  color: #fff;
  outline: none;
}
.btn-orange{
    background-color: #e97e11;
}
#collaborate{
  background-color: rgb(39, 53, 71);
}
.img-50{
  width: 45%;
  display: block;
  margin-right: 30px;
}
.btn-red{
  background-color: rgb(203, 56, 55);
  margin-top: 30px;
}
.link{
  font-size: 1em;
  font-weight: bold;
}
.h-block{
  width: 45%;
  margin: 0 10px;
}
#collaborate{
  width: 100%;
  height: 580px;
}
#collaborate ul{
  margin-left: 40px;
}
#collaborate li{
  margin-bottom: 10px;
}
#collaborate p{
  margin-top: 10px;
}
#what-is{
  background-image: url(../images/forklift.svg);
  background-size: cover;
}
